@import url('https://fonts.googleapis.com/css?family=Courgette');

/* GENERAL */

html {
  height: 100%;
  box-sizing: border-box;
}

body,
#root,
.App {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  background-color: #fafafa;
  position: relative;
  margin: 0;
  min-height: 100vh;
}

.App {
  text-align: center;
}

/* english font */
.english {
  font-family: 'Courgette', cursive;
  font-weight: bold;
}

/* hebrew font */
.he {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-weight: bold;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  padding: 0;
  border: none;
}

a,
button,
input,
label,
select,
textarea {
  touch-action: manipulation;
}

ul {
  padding: 0;
}

.section-header {
  color: #b99769;
  padding: 35px 0;
  font-weight: bold;
  display: grid;
  width: fit-content;
  align-items: center;
  text-align: center;
  grid-template-columns: minmax(30px, 1fr) auto minmax(30px, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
}

.line-on-sides:before,
.line-on-sides:after {
  content: '';
  border-top: 2px solid;
}

.page-main-inner {
  position: fixed;
  width: 100%;
  bottom: 0%;
  top: 0%;
  overflow-y: scroll;
}

/* Copy rights */

.copyRights {
  padding: 0 50px;
  line-height: 60px;
  background-color: #000;
  color: #9d9d9d;
  font-size: 13px;
  text-align: center;
  height: 60px;
  width: 100%;
}

@media (max-width: 992px) {
  .section-header {
    font-size: 30px;
  }
}
