/* About */

.header {
  width: 100%;
  height: 70vh;
  background: #000;
}

.box-gallery {
  height: 70vh;
}

.box-gallery .bg-img::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.box-gallery .bg-img {
  position: relative;
  display: inline-block;
}

.box-gallery .bg-img img {
  display: block;
  width: auto;
  height: auto;
}

.data-about {
  background-color: #fafafa;
  min-height: 300px;
}

.data-about div {
  color: #8c8c8c;
  font-size: 1.5rem;
  line-height: 1.4;
}

.tel-number {
  display: block;
  margin: 30px auto;
  max-width: 400px;
  background-color: #b99769;
  color: #fafafa;
  text-align: center;
  padding: 10px;
  border: #b99769 2px solid;
}

.tel-number:hover {
  background-color: #fafafa;
  cursor: pointer;
  border: #b99769 2px solid;
  color: #b99769;
  text-decoration: none;
}

.data-about .container .row p {
  color: #b99769;
  font-weight: bold;
}

@media (max-width: 992px) {
  .data-about div {
    font-size: 1.2rem;
  }

  .tel-number {
    max-width: 280px;
  }
}
