/* About */

#about {
  position: relative;
}

.header__main {
  position: relative;
  height: 90vh;
  overflow: hidden;
  /* padding-top: 100px; */
  /* text-align: left; */
}

.data-about {
  background-color: #fafafa;
  min-height: 300px;
}

.about-details {
  color: #8c8c8c;
  font-size: 1.5rem;
  line-height: 1.4;
}

.tel-number {
  display: block;
  margin: 30px auto;
  max-width: 400px;
  background-color: #b99769;
  color: #fafafa;
  text-align: center;
  padding: 10px;
  border: #b99769 2px solid;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  /* transition: all 0.5s ease; */
}

.tel-number:hover {
  background-color: #fafafa;
  cursor: pointer;
  border: #b99769 2px solid;
  color: #b99769;
  text-decoration: none;
}

.data-about .container .row p {
  color: #b99769;
  font-weight: bold;
}

.main-headline {
  color: white;
  position: absolute;
  top: 120px;
  z-index: 3;
  width: 100%;
  text-align: center;
  margin: 10px auto;
  /* padding: 10px; */
}

.second-headline {
  font-size: 28px;
  color: white;
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  margin: 10px auto;
}

@media (max-width: 768px) {
  .header__main {
    height: 78vh;
  }
  .second-headline {
    font-size: 22px;
    bottom: 20px;
  }
}

@media (max-width: 576px) {
  .header__main {
    padding-top: 80px;
    height: 72vh;
  }
  .main-headline {
    top: 80px;
  }
  .main-headline span {
    font-size: 30px;
  }

  .about-details {
    font-size: 1.3rem;
  }
}
