/* Contact */

#contact {
  /* background: #111; */
  background-color: #fafafa;
  color: #666666;
  font-size: 18px;
  min-height: calc(100vh - 60px);
}

.contact-link {
  color: #666666;
  -webkit-transition: font-size 0.3s ease-in;
  -moz-transition: font-size 0.3s ease-in;
  -o-transition: font-size 0.3s ease-in;
  transition: font-size 0.3s ease-in;
}

.contact-link:hover {
  /* color: #bcbdae; */
  color: #111;
  font-size: 20px;
}

.contact-data {
  font-size: 18px;
  padding-top: 80px;
}

#contact p > i,
.opening-hours i {
  font-size: 16px;
  color: #bcbdae;
}

.opening-hours {
  color: #9d9d9d;
  font-weight: bold;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.opening-hours i {
  line-height: 34px;
  height: 34px;
}

.opening-hours .he {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.h3-seperator {
  margin: 0 10px;
}

/* Map */

.info-window {
  width: 50px;
  height: 50px;
}

.gm-style .gm-style-iw + button {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.gm-style .gm-style-iw {
  background-color: #01095c;
}

@media (max-width: 576px) {
  .contact-data,
  #contact {
    font-size: 16px;
  }
}

@media (max-width: 426px) {
  .h3-seperator {
    display: none;
  }
  .opening-hours .he {
    margin: 0 20px;
  }
}
