@import url('https://fonts.googleapis.com/css?family=Courgette');

/* GENERAL */

html {
  height: 100%;
  box-sizing: border-box;
}

body,
#root,
.App {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  background-color: #fafafa;
  position: relative;
  margin: 0;
  min-height: 100vh;
}

.english {
  font-family: 'Courgette', cursive;
}

.App {
  text-align: center;
  background-color: #fafafa;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

section > div {
  padding-top: 90px;
  padding-bottom: 90px;
}

a:hover {
  text-decoration: none;
}

/* Copy rights */

.copyRights {
  padding: 0 50px;
  line-height: 60px;
  background-color: #000;
  color: #9d9d9d;
  font-size: 13px;
  text-align: center;
  height: 60px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* about */

.header {
  width: 100%;
  height: 70vh;
}

.content-about {
  background-color: #01095c;
}

.data-about {
  background-color: #fafafa;
  min-height: 300px;
}
.data-about div {
  color: #8c8c8c;
  /* margin: 30px auto 0; */
  font-size: 1.5rem;
  line-height: 1.4;
}

.tel-number {
  display: block;
  margin: 30px auto;
  max-width: 400px;
  background-color: #b99769;
  color: #fafafa;
  text-align: center;
  padding: 10px;
  border: #b99769 2px solid;
}

.tel-number:hover {
  background-color: #fafafa;
  cursor: pointer;
  border: #b99769 2px solid;
  color: #b99769;
  text-decoration: none;
}

.data-about .container .row p {
  color: #b99769;
  font-weight: bold;
}

.about-footer {
  background: #111;
  color: #666666;
  line-height: 1.5;
  font-size: 1.3rem;
  padding: 90px 60px;
  font-size: 18px;
}

.about-footer h3 {
  font-size: 2rem;
  color: #bcbdae;
  margin-bottom: 20px;
}

.footer-icon a {
  display: block;
  color: #111;
  line-height: 40px;
  height: 40px;
}

.footer-icon {
  background-color: #9d9d9d;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px auto;
  line-height: 40px;
}

.about-footer a:hover {
  text-decoration: none;
  color: #d1cccc;
}

/* Navbar */

.navbar {
  padding: 1rem 1rem;
  width: 100%;
  color: white !important;
  z-index: 999;
}

.navbar.transperant {
  background-color: transparent;
}

.navbar.black-nav {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
}

.nav-link,
.nav-item {
  color: white;
  font-size: 18px;
  width: fit-content;
}

.nav-link:hover {
  color: #b99769;
}

.activeLink {
  border-bottom: 1px solid #b99769;
  color: #b99769;
}

.navbar-toggler:hover {
  background-color: #fff;
  color: #01095c;
}
.navbar-toggler {
  color: #fff;
  font-size: 20px;
}

/* Treatment */

.section-header {
  color: #b99769;
  padding: 35px 0;
  font-weight: bold;
}

.section-header span {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.line-on-sides:before,
.line-on-sides:after {
  content: '';
  display: inline-block;
  width: 4%;
  margin: 0 0.3em 0 -45%;
  vertical-align: middle;
  border-bottom: 2px solid;
}

.line-on-sides:after {
  margin: 0 -45% 0 0.3em;
}

.treatment-name {
  color: #01095c;
  padding: 5px 0;
}

.treatment-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.price-button {
  background-color: #01095c;
}

/* Prices */

.card {
  border: none;
}
.price-card {
  overflow: hidden;
  position: relative;
  text-align: center;
}

.card-header {
  background-color: #f6f6f6;
  padding: 0;
}

.card-body {
  padding: 0;
}

.card-body ul {
  margin: 0;
}

.bg-heading {
  transition: all 0.3s ease-in-out 0s;
  border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
  border-style: solid;
  border-width: 90px 1411px 23px 399px;
  position: absolute;
}

.header-price-name {
  padding: 30px 20px 10px 20px;
  position: relative;
  z-index: 1;
}
.header-price-name span {
  font-family: 'Courgette', cursive;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  color: #525252;
}

.price-tag {
  margin-top: 40px;
}

.shekel-sign {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 400;
  vertical-align: middle;
}

.header-price {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 60px;
  padding: 0;
  vertical-align: middle;
}

.header-min {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  vertical-align: bottom;
}

.price-option {
  border-bottom: 1px solid #494a5a;
  padding: 0px;
  margin: 0px;
  height: 52px;
  line-height: 52px;
  background-color: #2b2937;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.price-option:last-child {
  border-bottom: none;
}

/* Contact */

#contact > .container-fluid > .row {
  min-height: 100vh;
}
.contact-heading {
  color: #b99769;
  font-size: 25px;
  text-shadow: 2px 1px 2px #a1a4a4;
}

.contact-data {
  background: #111;
  color: #666666;
  font-size: 18px;
  padding: 70px 0;
}

#contact p > i {
  font-size: 16px;
  color: #bcbdae;
}

/* about */

.carousel-item > img {
  width: 100%;
  max-height: 600px;
}

.carousel-item,
.carousel-item.active {
  align-items: center;
}

.carousel-control-prev,
.carousel-control-next {
  cursor: pointer;
}

/* @media (max-width: 767px) {
  .navbar-nav li a {
    display: inline;
  }
  .navbar-nav li {
    text-align: center;
    padding: 0.5rem 1rem;
  }
  .navbar-right li {
    text-align: right;
    padding: 2px;
  }
  .navbar-right li.mr-3 {
    margin-right: 0 !important;
  }
  .navbar-nav li.ml-3 {
    margin-left: 0 !important;
  }
} */
